<!DOCTYPE html>
<html>
<head>
	<title> Table</title>
</head>
<body>
	<table border = "2px">
		<tr>
			<td rowspan="4">
				<p> This is a Paragraph about me,I am!</p>
				
					<p>This ia an another paragraph about me, Iam!</p>
				
				<td>
				<th colspan="2"> Random Names</th>
		<tr>
			<td>J.Doe</td>
			<td>P.Day</td>
		</tr>
		<tr>
			<td>R.Bob</td>
			<td>T.Sam</td>
		</tr>
		<tr>
			<td colspan="4">Contact me for Details</td>
		</tr>
		<tr>
			<th>
				<p>Free Software</p>
				<p> 1. linux </p>
				<p> 2. Apache </p>
				<p> 3.MySQL </p>
				<p> 4.PHP</p>
			</th>
			<th colspan="2">
				<p> HELLO </p>
			</th>
		</tr>	
</body>
</html>