{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div class="container mt-4">
		<div class="card">
			<div class="row">
				<div class="col-md-4">
					<img src="C:\Users\Deepthi\OneDrive\Pictures\Screenshots\Screenshot (925).png" alt="" class="" img-fluid>
				</div>
				<div class="col-md-8 bg-light">
					<h2 class="mt-2">UI COURSE:-</h2>
					<p> virat............................</p>
					<button class="btn-btn-dark btn-md"></button>	
				</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-header bg warning test-while">
				<div> </div>
			</div>
		</div>
	</div>
	

</body>
</html>